@page
@model CartModel
@{

}
@section style
{
    .topbar {
    height: 0;
    line-height: 0; /* Metni gizlemek için */
    padding: 0; /* İç boşlukları kaldır */
    }
    .topbar ,.top {
visibility:hidden;
    }



}

<div class="font-[sans-serif] bg-white h-full mt-2">
    <div class="max-w-7xl max-lg:max-w-3xl mx-auto p-6">
        <h2 class="text-3xl font-extrabold text-gray-800">Sepet</h2>

        <div class="grid lg:grid-cols-3 gap-6 relative mt-8">
            
            <div class="lg:col-span-2 space-y-6">
                @foreach (var item in Model.Cart.CartItems)
                {
                    <div class="p-2 bg-white shadow-[0_3px_20px_-10px_rgba(6,81,237,0.4)] rounded-md relative">
                        <div class="grid sm:grid-cols-2 items-center gap-4">

                            <div class="bg-gradient-to-tr from-gray-300 via-gray-100 rounded-md to-gray-50 w-full h-full p-4 shrink-0 text-center">
                                <img src='img/Product/@item.Product.Image' class="w-56 h-full object-contain inline-block"/>
                            </div>

                            <div class="p-2">
                                <h3 class="text-lg font-bold text-gray-800">@item.Product.Name</h3>
                                @* ürün açıklamaları *@
                                <ul class="text-sm text-gray-500 space-y-2 list-disc pl-4 mt-3">
                                    <li>UK7.</li>
                                    <li>Dutch support for extra comfort.</li>
                                    <li>Cushioned insole with soft breathable lining.</li>
                                    <li>Upper material is made of PU that is comfortable, lightweight, easy to clean.</li>
                                </ul>

                                <div class="flex items-center justify-between flex-wrap gap-4 mt-6">
                                    <div class="flex items-center gap-3">
                                        <h4 class="text-sm text-gray-500">Ürün Adedi:</h4>
                                        <form asp-page="/Cart" asp-page-handler="Remove" method="post">
                                            <input name="url" value="@item.Product.Url" type="hidden"/>
                                            <button type="submit"

                                                    class="flex items-center justify-center w-5 h-5 bg-blue-600 outline-none rounded-full">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-2 fill-white" viewBox="0 0 124 124">
                                                    <path d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z" data-original="#000000"></path>
                                                </svg>
                                            </button>
                                        </form>

                                        <span class="font-bold text-sm leading-[16px]">@item.Quantity</span>

                                        <form asp-page="/Cart" asp-page-handler="OnPost" method="post">
                                            <input name="url" value="@item.Product.Url" type="hidden"/>
                                            <button type="submit"
                                                    class="flex items-center justify-center w-5 h-5 bg-blue-600 outline-none rounded-full">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-2 fill-white" viewBox="0 0 42 42">
                                                    <path d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" data-original="#000000"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>

                                    <div>
                                        <h4 class="text-lg font-bold text-blue-600">@((item.Product.Price)) TL</h4>
                                    </div>
                                </div>

                                <div class="divide-x border-y grid grid-cols-2 text-center mt-6">
                                    <button type="button" class="bg-transparent hover:bg-gray-100 flex items-center justify-center font-semibold py-3 text-gray-500 text-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 fill-current mr-3 inline-block" viewBox="0 0 128 128">
                                            <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z" data-original="#000000"></path>
                                        </svg>
                                        View details
                                    </button>
                                    <form asp-page="/Cart" asp-page-handler="Remove">
                                        <input name="url" value="@item.Product.Url" type="hidden"/>
                                        <button type="submit" class="bg-transparent hover:bg-gray-100 px-4 flex items-center justify-center font-semibold py-3 text-gray-500 text-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-current mr-3 inline-block" viewBox="0 0 390 390">
                                                <path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" data-original="#000000"></path>
                                                <path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" data-original="#000000"></path>
                                            </svg>
                                            Remove
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                }



            </div>

            <div class="bg-white h-max rounded-md p-4 shadow-[0_3px_20px_-10px_rgba(6,81,237,0.4)] sticky top-0">
                <h3 class="text-lg font-bold text-gray-800">Order Summary</h3>

                <ul class="text-gray-500 text-sm space-y-3 mt-3">
                    <li class="flex flex-wrap gap-4">Sepet Tutarı <span class="ml-auto font-bold">@(Model.Cart?.CalculateTotal().ToString("##,###"))TL </span></li>
                    <li class="flex flex-wrap gap-4">Kargo <span class="ml-auto font-bold">Ücretsiz</span></li>
                    <li class="flex flex-wrap gap-4">Kdv <span class="ml-auto font-bold">0.00TL</span></li>
                    <li class="flex flex-wrap gap-4">Toplam <span class="ml-auto font-bold">@(Model.Cart?.CalculateTotal().ToString("##,###"))TL </span></li>
                </ul>

                <a asp-controller="Order" asp-action="CheckOut" class="btn w-80 ml-4 mt-5 btn-primary btn-lg rounded-2xl">Ödeme Yap</a>

                <div class="mt-6 space-y-6">
                    <div>
                        <h4 class="text-sm font-bold text-gray-800 mb-3"> Iyzico ile Güvenli Ödeme Garantisi</h4>
                        <p class="text-sm text-gray-500">Experience peace of mind with our secure payment options, ensuring your transactions are protected and reliable.</p>
                    </div>
                    <div>
                        <h4 class="text-sm font-bold text-gray-800 mb-3">Ücretsiz Teslimat</h4>
                        <p class="text-sm text-gray-500">Enjoy the convenience of free delivery on all your orders, providing a cost-effective and seamless shopping experience.</p>
                    </div>
                    <div>
                        <h4 class="text-sm font-bold text-gray-800 mb-3">Değişim ve iade Güvencesi</h4>
                        <p class="text-sm text-gray-500">Simplify your shopping experience with hassle-free returns. Our easy return process ensures convenience and customer satisfaction.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        
@section Scripts
{
    <script type="text/javascript">window.iyz = { token: 'cc4fe5a3-9957-442a-aefd-36bb26528480', position: 'bottomRight', ideaSoft: false, pwi: true };</script> <script type="text/javascript" src="https://static.iyzipay.com/buyer-protection/buyer-protection.js"></script>

}